.qpli.faq
    .container 
        .faq__wrapper 
            .faq__heading__wrapper(data-aos="slide-right") 
                h.faq__heading Frequently asked questions
            .faq__questions-wrapper 
                ul 
                    li.faq__question-wrapper(data-aos="fade-up" data-aos-delay="100")  
                        button.faq__question How much does Quipli cost?
                            span.faq__question-arrow 
                        ol.faq__answers 
                            li 
                                p 1.We help you get up and running with Quipli’s full suite fast – it can take just a week or two to switch, onboard, and transition to Quipli as your sole equipment rental software.
                            li 
                                p 2.We help you get up and running with Quipli’s full suite fast – it can take just a week or two to switch, onboard, and transition to Quipli as your sole equipment rental software.
                            li
                                p 3.We help you get up and running with Quipli’s full suite fast – it can take just a week or two to switch, onboard, and transition to Quipli as your sole equipment rental software.
                    li.faq__question-wrapper(data-aos="fade-up" data-aos-delay="200")  
                        button.faq__question Can I run my entire rental business on your software?
                            span.faq__question-arrow 
                        ol.faq__answers 
                            li 
                                p 1.We help you get up and running with Quipli’s full suite fast – it can take just a week or two to switch, onboard, and transition to Quipli as your sole equipment rental software.
                            li 
                                p 2.We help you get up and running with Quipli’s full suite fast – it can take just a week or two to switch, onboard, and transition to Quipli as your sole equipment rental software.
                            li
                                p 3.We help you get up and running with Quipli’s full suite fast – it can take just a week or two to switch, onboard, and transition to Quipli as your sole equipment rental software.
                    li.faq__question-wrapper(data-aos="fade-up" data-aos-delay="300")   
                        button.faq__question What do you do really well? What are your strengths?
                            span.faq__question-arrow 
                        ol.faq__answers 
                            li 
                                p 1.We help you get up and running with Quipli’s full suite fast – it can take just a week or two to switch, onboard, and transition to Quipli as your sole equipment rental software.
                            li 
                                p 2.We help you get up and running with Quipli’s full suite fast – it can take just a week or two to switch, onboard, and transition to Quipli as your sole equipment rental software.
                            li
                                p 3.We help you get up and running with Quipli’s full suite fast – it can take just a week or two to switch, onboard, and transition to Quipli as your sole equipment rental software.
                    li.faq__question-wrapper(data-aos="fade-up" data-aos-delay="400")    
                        button.faq__question How much does Quipli cost?
                            span.faq__question-arrow 
                        ol.faq__answers 
                            li 
                                p 1.We help you get up and running with Quipli’s full suite fast – it can take just a week or two to switch, onboard, and transition to Quipli as your sole equipment rental software.
                            li 
                                p 2.We help you get up and running with Quipli’s full suite fast – it can take just a week or two to switch, onboard, and transition to Quipli as your sole equipment rental software.
                            li
                                p 3.We help you get up and running with Quipli’s full suite fast – it can take just a week or two to switch, onboard, and transition to Quipli as your sole equipment rental software.
                    li.faq__question-wrapper(data-aos="fade-up" data-aos-delay="500")   
                        button.faq__question Can I run my entire rental business on your software?
                            span.faq__question-arrow 
                        ol.faq__answers 
                            li 
                                p 1.We help you get up and running with Quipli’s full suite fast – it can take just a week or two to switch, onboard, and transition to Quipli as your sole equipment rental software.
                            li 
                                p 2.We help you get up and running with Quipli’s full suite fast – it can take just a week or two to switch, onboard, and transition to Quipli as your sole equipment rental software.
                            li
                                p 3.We help you get up and running with Quipli’s full suite fast – it can take just a week or two to switch, onboard, and transition to Quipli as your sole equipment rental software.
                    li.faq__question-wrapper(data-aos="fade-up" data-aos-delay="600")   
                        button.faq__question What do you do really well? What are your strengths?
                            span.faq__question-arrow 
                        ol.faq__answers 
                            li 
                                p 1.We help you get up and running with Quipli’s full suite fast – it can take just a week or two to switch, onboard, and transition to Quipli as your sole equipment rental software.
                            li 
                                p 2.We help you get up and running with Quipli’s full suite fast – it can take just a week or two to switch, onboard, and transition to Quipli as your sole equipment rental software.
                            li
                                p 3.We help you get up and running with Quipli’s full suite fast – it can take just a week or two to switch, onboard, and transition to Quipli as your sole equipment rental software.
                    li.faq__question-wrapper(data-aos="fade-up" data-aos-delay="700")    
                        button.faq__question How much does Quipli cost?
                            span.faq__question-arrow 
                        ol.faq__answers 
                            li 
                                p 1.We help you get up and running with Quipli’s full suite fast – it can take just a week or two to switch, onboard, and transition to Quipli as your sole equipment rental software.
                            li 
                                p 2.We help you get up and running with Quipli’s full suite fast – it can take just a week or two to switch, onboard, and transition to Quipli as your sole equipment rental software.
                            li
                                p 3.We help you get up and running with Quipli’s full suite fast – it can take just a week or two to switch, onboard, and transition to Quipli as your sole equipment rental software.
                    li.faq__question-wrapper(data-aos="fade-up" data-aos-delay="800")   
                        button.faq__question Can I run my entire rental business on your software?
                            span.faq__question-arrow 
                        ol.faq__answers 
                            li 
                                p 1.We help you get up and running with Quipli’s full suite fast – it can take just a week or two to switch, onboard, and transition to Quipli as your sole equipment rental software.
                            li 
                                p 2.We help you get up and running with Quipli’s full suite fast – it can take just a week or two to switch, onboard, and transition to Quipli as your sole equipment rental software.
                            li
                                p 3.We help you get up and running with Quipli’s full suite fast – it can take just a week or two to switch, onboard, and transition to Quipli as your sole equipment rental software.
                    li.faq__question-wrapper(data-aos="fade-up" data-aos-delay="900")   
                        button.faq__question What do you do really well? What are your strengths?
                            span.faq__question-arrow 
                        ol.faq__answers 
                            li 
                                p 1.We help you get up and running with Quipli’s full suite fast – it can take just a week or two to switch, onboard, and transition to Quipli as your sole equipment rental software.
                            li 
                                p 2.We help you get up and running with Quipli’s full suite fast – it can take just a week or two to switch, onboard, and transition to Quipli as your sole equipment rental software.
                            li
                                p 3.We help you get up and running with Quipli’s full suite fast – it can take just a week or two to switch, onboard, and transition to Quipli as your sole equipment rental software.
                    li.faq__question-wrapper(data-aos="fade-up" data-aos-delay="1000")    
                        button.faq__question How much does Quipli cost?
                            span.faq__question-arrow 
                        ol.faq__answers 
                            li 
                                p 1.We help you get up and running with Quipli’s full suite fast – it can take just a week or two to switch, onboard, and transition to Quipli as your sole equipment rental software.
                            li 
                                p 2.We help you get up and running with Quipli’s full suite fast – it can take just a week or two to switch, onboard, and transition to Quipli as your sole equipment rental software.
                            li
                                p 3.We help you get up and running with Quipli’s full suite fast – it can take just a week or two to switch, onboard, and transition to Quipli as your sole equipment rental software.
                    li.faq__question-wrapper(data-aos="fade-up" data-aos-delay="1100")   
                        button.faq__question Can I run my entire rental business on your software?
                            span.faq__question-arrow 
                        ol.faq__answers 
                            li 
                                p 1.We help you get up and running with Quipli’s full suite fast – it can take just a week or two to switch, onboard, and transition to Quipli as your sole equipment rental software.
                            li 
                                p 2.We help you get up and running with Quipli’s full suite fast – it can take just a week or two to switch, onboard, and transition to Quipli as your sole equipment rental software.
                            li
                                p 3.We help you get up and running with Quipli’s full suite fast – it can take just a week or two to switch, onboard, and transition to Quipli as your sole equipment rental software.
                button.faq__listing-controller(data-aos="fade-up" data-aos-delay="600") See all FAQs
                    span.faq__question-arrow 
                        
