.qpli.supportbrands
    .container 
        .supportbrands__carousel
            .supportbrands__item 
                img(src="../images/supportbrands-logo6.svg", alt="supportbrands-logo6")
            .supportbrands__item
                img(src="../images/supportbrands-logo1.svg", alt="supportbrands-logo1")
            .supportbrands__item
                img(src="../images/supportbrands-logo2.svg", alt="supportbrands-logo2")
            .supportbrands__item 
                img(src="../images/supportbrands-logo3.svg", alt="supportbrands-logo3")
            .supportbrands__item 
                img(src="../images/supportbrands-logo4.svg", alt="supportbrands-logo4")
            .supportbrands__item 
                img(src="../images/supportbrands-logo5.svg", alt="supportbrands-logo5")