.qpli.banner
    .container 
        .banner__wrapper 
            .banner__content 
                h1(data-aos="fade-up" data-aos-delay="1400") Equipment rental software. Simplified.
                p.banner__description(data-aos="fade-up" data-aos-delay="1500") Meet Quipli, the next generation of equipment rental software. Easy to use, simple, modern, and fast. Inventory management, e-commerce, service & repair, and much more – Quipli is the one tool to rule them all.
                .banner__cta(data-aos="fade-out" data-aos-delay="1600")
                    +button('Book a Demo', '#', true, "#1d252c")
                .banner__collection
                    .banner__primary 
                        .banner__set(data-aos="fade-out" data-aos-delay="1700")
                            .banner__logo
                                figure 
                                    img(src="../images/Capterra-logo.svg", alt="Capterra-logo") 
                            .banner__detailed
                                .banner__numerical
                                    p 4.9/5
                                .banner__star
                                    figure 
                                        img(src="../images/Stargroup.svg", alt="rating stars")
                        .banner__set(data-aos="fade-out" data-aos-delay="1800")
                            .banner__logo
                                figure
                                    img(src="../images/Google.svg", alt="Google-logo") 
                            .banner__detailed
                                .banner__numerical
                                    p 4.9/5
                                .banner__star
                                    figure
                                        img(src="../images/Stargroup.svg", alt="rating stars")
                        .banner__set(data-aos="fade-out" data-aos-delay="1900")
                            .banner__logo 
                                figure
                                    img(src="../images/G2star.svg", alt="G2star")
                            .banner__detailed
                                .banner__numerical
                                    p 5/5
                                .banner__star
                                    figure 
                                        img(src="../images/Stargroup.svg", alt="rating stars")
        .banner__devices(data-aos="fade-up" data-aos-delay="2100")
            picture 
                source(media="(min-width: 1199px)", srcset="../images/ipad&iphone.png")
                source(media="(min-width: 320px)", srcset="../images/iPad-Pro-11-Inch.png")        
                img(src="../images/ipad-&-iphone.png", alt="ipad-&-iphone")