.qpli.testimonials
    .container 
        .testimonials__wrapper
            .testimonials__tab-wrapper 
                .testimonials__tab
                    img.testimonials__logo(src="../images/testimonial-logo.svg", alt="testimonial-logo")
                    p.testimonials__content
                            | We ran trials with multiple software vendors side-by-side for several months, and there was no comparison to 
                            span Quipli&rsquo;s pace of development and customer support.
                            |  Quipli listens to our needs regularly and shows an excitement to develop features.
                    .testimonials__credits  
                        .testimonials__author 
                            .testimonials__avatar
                            .testimonials__author-details 
                                p.testimonials__name Brittany C
                                p.testimonials__equipment J Creek Equipment ...
                        .testimonials__video 
                            img.testimonials__icon(src="../images/video-play-button.svg", alt="video-play-button")
                            .testimonials__icon-and-text
                                p.testimonials__watch Watch Video 
                                img.testimonials__sub-icon(src="../images/video-play-button.svg", alt="video-play-button")
                    button.js-slick-prev
                        i   
                            svg(width='90' height='103' viewbox='0 0 90 103' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M75.6781 88.9995H14.019C6.82651 88.9995 1.00181 83.1544 1.00181 75.9368V14.0623C1.00181 6.84464 6.82651 0.999557 14.019 0.999557H75.6781L77.823 0.999573L88.6953 0.999527V75.9368V102.062C88.6953 94.8446 82.8706 88.9995 75.6781 88.9995Z' fill='white' stroke='#1D252C' stroke-opacity='0.12')
                                g(clip-path='url(#clip0_1614_395)')
                                    path(fill-rule='evenodd' clip-rule='evenodd' d='M40.7745 45.0008L50.3906 35.3847L48.6229 33.6169L37.2389 45.0008L48.6229 56.3847L50.3906 54.6169L40.7745 45.0008Z' fill='#1D252C')
                                defs
                                    clippath#clip0_1614_395
                                    rect(width='24' height='24' fill='white' transform='matrix(-1 0 0 1 57 32.9998)')
                    button.js-slick-next 
                        i 
                            svg(width='90' height='103' viewbox='0 0 90 103' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M14.2086 89.2088H75.8677C83.0602 89.2088 88.8849 83.3637 88.8849 76.146V14.2715C88.8849 7.05387 83.0602 1.20879 75.8677 1.20879H14.2086L12.0637 1.2088L1.19141 1.20876V76.146V102.271C1.19141 95.0538 7.01608 89.2088 14.2086 89.2088Z' fill='white' stroke='#1D252C' stroke-opacity='0.12')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M50.1278 45.0011L40.5117 35.385L42.2795 33.6172L53.6634 45.0011L42.2795 56.385L40.5117 54.6172L50.1278 45.0011Z' fill='#1D252C')
            .testimonials__tab-wrapper
                .testimonials__tab
                    img.testimonials__logo(src="../images/testimonial-logo.svg", alt="testimonial-logo")
                    p.testimonials__content
                            | We ran trials with multiple software vendors side-by-side for several months, and there was no comparison to 
                            span Quipli&rsquo;s pace of development and customer support.
                            |  Quipli listens to our needs regularly and shows an excitement to develop features.
                    .testimonials__credits  
                        .testimonials__author 
                            .testimonials__avatar
                            .testimonials__author-details 
                                p.testimonials__name Brittany C
                                p.testimonials__equipment J Creek Equipment ...
                        .testimonials__video 
                            img.testimonials__icon(src="../images/video-play-button.svg", alt="video-play-button")
                            .testimonials__icon-and-text
                                p.testimonials__watch Watch Video 
                                img.testimonials__sub-icon(src="../images/video-play-button.svg", alt="video-play-button")
                    button.js-slick-prev
                        i   
                            <svg width="90" height="103" viewBox="0 0 90 103" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M75.6781 88.9995H14.019C6.82651 88.9995 1.00181 83.1544 1.00181 75.9368V14.0623C1.00181 6.84464 6.82651 0.999557 14.019 0.999557H75.6781L77.823 0.999573L88.6953 0.999527V75.9368V102.062C88.6953 94.8446 82.8706 88.9995 75.6781 88.9995Z" fill="white" stroke="#1D252C" stroke-opacity="0.12"/>
                                <g clip-path="url(#clip0_1614_395)">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M40.7745 45.0008L50.3906 35.3847L48.6229 33.6169L37.2389 45.0008L48.6229 56.3847L50.3906 54.6169L40.7745 45.0008Z" fill="#1D252C"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_1614_395">
                                    <rect width="24" height="24" fill="white" transform="matrix(-1 0 0 1 57 32.9998)"/>
                                    </clipPath>
                                </defs>
                            </svg>
                    button.js-slick-next 
                        i 
                            svg(width='90' height='103' viewbox='0 0 90 103' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M14.2086 89.2088H75.8677C83.0602 89.2088 88.8849 83.3637 88.8849 76.146V14.2715C88.8849 7.05387 83.0602 1.20879 75.8677 1.20879H14.2086L12.0637 1.2088L1.19141 1.20876V76.146V102.271C1.19141 95.0538 7.01608 89.2088 14.2086 89.2088Z' fill='white' stroke='#1D252C' stroke-opacity='0.12')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M50.1278 45.0011L40.5117 35.385L42.2795 33.6172L53.6634 45.0011L42.2795 56.385L40.5117 54.6172L50.1278 45.0011Z' fill='#1D252C')
            .testimonials__tab-wrapper
                .testimonials__tab
                    img.testimonials__logo(src="../images/testimonial-logo.svg", alt="testimonial-logo")
                    p.testimonials__content
                            | We ran trials with multiple software vendors side-by-side for several months, and there was no comparison to 
                            span Quipli&rsquo;s pace of development and customer support.
                            |  Quipli listens to our needs regularly and shows an excitement to develop features.
                    .testimonials__credits  
                        .testimonials__author 
                            .testimonials__avatar
                            .testimonials__author-details 
                                p.testimonials__name Brittany C
                                p.testimonials__equipment J Creek Equipment ...
                        .testimonials__video 
                            img.testimonials__icon(src="../images/video-play-button.svg", alt="video-play-button")
                            .testimonials__icon-and-text
                                p.testimonials__watch Watch Video 
                                img.testimonials__sub-icon(src="../images/video-play-button.svg", alt="video-play-button")
                    button.js-slick-prev
                        i   
                            svg(width='90' height='103' viewbox='0 0 90 103' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M75.6781 88.9995H14.019C6.82651 88.9995 1.00181 83.1544 1.00181 75.9368V14.0623C1.00181 6.84464 6.82651 0.999557 14.019 0.999557H75.6781L77.823 0.999573L88.6953 0.999527V75.9368V102.062C88.6953 94.8446 82.8706 88.9995 75.6781 88.9995Z' fill='white' stroke='#1D252C' stroke-opacity='0.12')
                                g(clip-path='url(#clip0_1614_395)')
                                    path(fill-rule='evenodd' clip-rule='evenodd' d='M40.7745 45.0008L50.3906 35.3847L48.6229 33.6169L37.2389 45.0008L48.6229 56.3847L50.3906 54.6169L40.7745 45.0008Z' fill='#1D252C')
                                defs
                                    clippath#clip0_1614_395
                                    rect(width='24' height='24' fill='white' transform='matrix(-1 0 0 1 57 32.9998)')
                    button.js-slick-next 
                        i 
                            svg(width='90' height='103' viewbox='0 0 90 103' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M14.2086 89.2088H75.8677C83.0602 89.2088 88.8849 83.3637 88.8849 76.146V14.2715C88.8849 7.05387 83.0602 1.20879 75.8677 1.20879H14.2086L12.0637 1.2088L1.19141 1.20876V76.146V102.271C1.19141 95.0538 7.01608 89.2088 14.2086 89.2088Z' fill='white' stroke='#1D252C' stroke-opacity='0.12')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M50.1278 45.0011L40.5117 35.385L42.2795 33.6172L53.6634 45.0011L42.2795 56.385L40.5117 54.6172L50.1278 45.0011Z' fill='#1D252C')
            .testimonials__tab-wrapper
                .testimonials__tab
                    img.testimonials__logo(src="../images/testimonial-logo.svg", alt="testimonial-logo")
                    p.testimonials__content
                            | We ran trials with multiple software vendors side-by-side for several months, and there was no comparison to 
                            span Quipli&rsquo;s pace of development and customer support.
                            |  Quipli listens to our needs regularly and shows an excitement to develop features.
                    .testimonials__credits  
                        .testimonials__author 
                            .testimonials__avatar
                            .testimonials__author-details 
                                p.testimonials__name Brittany C
                                p.testimonials__equipment J Creek Equipment ...
                        .testimonials__video 
                            img.testimonials__icon(src="../images/video-play-button.svg", alt="video-play-button")
                            .testimonials__icon-and-text
                                p.testimonials__watch Watch Video 
                                img.testimonials__sub-icon(src="../images/video-play-button.svg", alt="video-play-button")
                    button.js-slick-prev
                        i   
                            svg(width='90' height='103' viewbox='0 0 90 103' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M75.6781 88.9995H14.019C6.82651 88.9995 1.00181 83.1544 1.00181 75.9368V14.0623C1.00181 6.84464 6.82651 0.999557 14.019 0.999557H75.6781L77.823 0.999573L88.6953 0.999527V75.9368V102.062C88.6953 94.8446 82.8706 88.9995 75.6781 88.9995Z' fill='white' stroke='#1D252C' stroke-opacity='0.12')
                                g(clip-path='url(#clip0_1614_395)')
                                    path(fill-rule='evenodd' clip-rule='evenodd' d='M40.7745 45.0008L50.3906 35.3847L48.6229 33.6169L37.2389 45.0008L48.6229 56.3847L50.3906 54.6169L40.7745 45.0008Z' fill='#1D252C')
                                defs
                                    clippath#clip0_1614_395
                                    rect(width='24' height='24' fill='white' transform='matrix(-1 0 0 1 57 32.9998)')
                    button.js-slick-next 
                        i 
                            svg(width='90' height='103' viewbox='0 0 90 103' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M14.2086 89.2088H75.8677C83.0602 89.2088 88.8849 83.3637 88.8849 76.146V14.2715C88.8849 7.05387 83.0602 1.20879 75.8677 1.20879H14.2086L12.0637 1.2088L1.19141 1.20876V76.146V102.271C1.19141 95.0538 7.01608 89.2088 14.2086 89.2088Z' fill='white' stroke='#1D252C' stroke-opacity='0.12')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M50.1278 45.0011L40.5117 35.385L42.2795 33.6172L53.6634 45.0011L42.2795 56.385L40.5117 54.6172L50.1278 45.0011Z' fill='#1D252C')
            .testimonials__tab-wrapper
                .testimonials__tab
                    img.testimonials__logo(src="../images/testimonial-logo.svg", alt="testimonial-logo")
                    p.testimonials__content
                            | We ran trials with multiple software vendors side-by-side for several months, and there was no comparison to 
                            span Quipli&rsquo;s pace of development and customer support.
                            |  Quipli listens to our needs regularly and shows an excitement to develop features.
                    .testimonials__credits  
                        .testimonials__author 
                            .testimonials__avatar
                            .testimonials__author-details 
                                p.testimonials__name Brittany C
                                p.testimonials__equipment J Creek Equipment ...
                        .testimonials__video 
                            img.testimonials__icon(src="../images/video-play-button.svg", alt="video-play-button")
                            .testimonials__icon-and-text
                                p.testimonials__watch Watch Video 
                                img.testimonials__sub-icon(src="../images/video-play-button.svg", alt="video-play-button")
                    button.js-slick-prev
                        i   
                            svg(width='90' height='103' viewbox='0 0 90 103' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M75.6781 88.9995H14.019C6.82651 88.9995 1.00181 83.1544 1.00181 75.9368V14.0623C1.00181 6.84464 6.82651 0.999557 14.019 0.999557H75.6781L77.823 0.999573L88.6953 0.999527V75.9368V102.062C88.6953 94.8446 82.8706 88.9995 75.6781 88.9995Z' fill='white' stroke='#1D252C' stroke-opacity='0.12')
                                g(clip-path='url(#clip0_1614_395)')
                                    path(fill-rule='evenodd' clip-rule='evenodd' d='M40.7745 45.0008L50.3906 35.3847L48.6229 33.6169L37.2389 45.0008L48.6229 56.3847L50.3906 54.6169L40.7745 45.0008Z' fill='#1D252C')
                                defs
                                    clippath#clip0_1614_395
                                    rect(width='24' height='24' fill='white' transform='matrix(-1 0 0 1 57 32.9998)')
                    button.js-slick-next 
                        i 
                            svg(width='90' height='103' viewbox='0 0 90 103' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M14.2086 89.2088H75.8677C83.0602 89.2088 88.8849 83.3637 88.8849 76.146V14.2715C88.8849 7.05387 83.0602 1.20879 75.8677 1.20879H14.2086L12.0637 1.2088L1.19141 1.20876V76.146V102.271C1.19141 95.0538 7.01608 89.2088 14.2086 89.2088Z' fill='white' stroke='#1D252C' stroke-opacity='0.12')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M50.1278 45.0011L40.5117 35.385L42.2795 33.6172L53.6634 45.0011L42.2795 56.385L40.5117 54.6172L50.1278 45.0011Z' fill='#1D252C')
            .testimonials__tab-wrapper
                .testimonials__tab
                    img.testimonials__logo(src="../images/testimonial-logo.svg", alt="testimonial-logo")
                    p.testimonials__content
                            | We ran trials with multiple software vendors side-by-side for several months, and there was no comparison to 
                            span Quipli&rsquo;s pace of development and customer support.
                            |  Quipli listens to our needs regularly and shows an excitement to develop features.
                    .testimonials__credits  
                        .testimonials__author 
                            .testimonials__avatar
                            .testimonials__author-details 
                                p.testimonials__name Brittany C
                                p.testimonials__equipment J Creek Equipment ...
                        .testimonials__video 
                            img.testimonials__icon(src="../images/video-play-button.svg", alt="video-play-button")
                            .testimonials__icon-and-text
                                p.testimonials__watch Watch Video 
                                img.testimonials__sub-icon(src="../images/video-play-button.svg", alt="video-play-button")
                    button.js-slick-prev
                        i   
                            svg(width='90' height='103' viewbox='0 0 90 103' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M75.6781 88.9995H14.019C6.82651 88.9995 1.00181 83.1544 1.00181 75.9368V14.0623C1.00181 6.84464 6.82651 0.999557 14.019 0.999557H75.6781L77.823 0.999573L88.6953 0.999527V75.9368V102.062C88.6953 94.8446 82.8706 88.9995 75.6781 88.9995Z' fill='white' stroke='#1D252C' stroke-opacity='0.12')
                                g(clip-path='url(#clip0_1614_395)')
                                    path(fill-rule='evenodd' clip-rule='evenodd' d='M40.7745 45.0008L50.3906 35.3847L48.6229 33.6169L37.2389 45.0008L48.6229 56.3847L50.3906 54.6169L40.7745 45.0008Z' fill='#1D252C')
                                defs
                                    clippath#clip0_1614_395
                                    rect(width='24' height='24' fill='white' transform='matrix(-1 0 0 1 57 32.9998)')
                    button.js-slick-next 
                        i 
                            svg(width='90' height='103' viewbox='0 0 90 103' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M14.2086 89.2088H75.8677C83.0602 89.2088 88.8849 83.3637 88.8849 76.146V14.2715C88.8849 7.05387 83.0602 1.20879 75.8677 1.20879H14.2086L12.0637 1.2088L1.19141 1.20876V76.146V102.271C1.19141 95.0538 7.01608 89.2088 14.2086 89.2088Z' fill='white' stroke='#1D252C' stroke-opacity='0.12')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M50.1278 45.0011L40.5117 35.385L42.2795 33.6172L53.6634 45.0011L42.2795 56.385L40.5117 54.6172L50.1278 45.0011Z' fill='#1D252C')
