.qpli.problem 
    .container 
        .problem__wrapper 
            img.problem__banner(src="../images/problem-banner.png", alt="problem-banner", data-aos="fade-left", data-aos-delay="300", data-aos-duration="900")
            .problem__statement(data-aos="fade-right" data-aos-delay="100" data-aos-duration="800")
                img.problem__logo(src="../images/problem-logo.svg", alt="problem-logo", data-aos="fade-up", data-aos-delay="1000")
                h2(data-aos="fade-up" data-aos-delay="1200") Running an equipment rental business is hard enough
                p(data-aos="fade-up" data-aos-delay="1300") You have to win and retain customers, find and keep great staff members, service and repair your equipment, manage inventory, and so much more. 
                p(data-aos="fade-up" data-aos-delay="1400") 3 printers, 10 arms, 4 swivel chairs, and manual work aren’t going to help your business grow or consistently provide great customer service.
                p(data-aos="fade-up" data-aos-delay="1500") 
                    strong Shouldn’t your software be making your life easier?