@font-face {
    font-family: 'Sharp Grotesk';
    src: url('fonts/SharpGroteskMedium20.woff2') format('woff2'),
        url('fonts/SharpGroteskMedium20.woff') format('woff');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}