extend ../pagelayout/home
block variables
	-var active = 'Home'
	-var bodyClass = 'theme--default'
block story
	include ../components/banner/banner.pug
	include ../components/supportbrands/supportbrands.pug
	include ../components/testimonials/testimonials.pug
	include ../components/problem/problem.pug
	include ../components/solutions/solutions.pug
	include ../components/use-cases/use-cases.pug
	include ../components/outcomes/outcomes.pug
	include ../components/contact-us/contact-us.pug
	include ../components/career/career.pug
	include ../components/faq/faq.pug
	include ../components/blog/blog.pug
	include ../components/cta/cta.pug




	