.qpli.career 
    .container 
        .career__wrapper
            ul 
                li.career__item(data-aos="fade-up" data-aos-delay="100") 
                    button.career__item-wrapper(href="")  
                        h2.career__title Rental Business Owner
                            span 
                        .career__difference 
                            .career__before 
                                h3.career__before-heading Before Quipli
                                ul.career__closed-view
                                    li 
                                        span 
                                            img(src="../images/career-subtract.svg", alt="")
                                        p I’m constantly hiring people to keep up with demand
                                ul.career__open-view
                                    li 
                                        span 
                                            img(src="../images/career-subtract.svg", alt="") 
                                        p I’m constantly hiring people to keep up with demand
                                    li
                                        span 
                                            img(src="../images/career-subtract.svg", alt="")
                                        p We’re processing orders manually, and drowning in paperwork
                            .career__after
                                h3.career__after-heading After Quipli
                                ul.career__closed-view
                                    li 
                                        span 
                                            img(src="../images/career-yellow-check.svg", alt="")  
                                        p I doubled my business without adding staff. Orders can be processed in half of the time.
                                ul.career__open-view
                                    li 
                                        span 
                                            img(src="../images/career-yellow-check.svg", alt="")  
                                        p I doubled my business without adding staff. Orders can be processed in half of the time.
                                    li 
                                        span 
                                            img(src="../images/career-yellow-check.svg", alt="")  
                                        p I doubled my business without adding staff. Orders can be processed in half of the time.
                li.career__item(data-aos="fade-up" data-aos-delay="200")  
                    button.career__item-wrapper(href="") 
                        h2.career__title Store Manager
                            span
                        .career__difference 
                            .career__before 
                                h3.career__before-heading Before Quipli
                                ul.career__closed-view
                                    li
                                        span 
                                            img(src="../images/career-subtract.svg", alt="") 
                                        p I’m constantly hiring people to keep up with demand
                                ul.career__open-view
                                    li
                                        span 
                                            img(src="../images/career-subtract.svg", alt="")  
                                        p I’m constantly hiring people to keep up with demand
                                    li
                                        span 
                                            img(src="../images/career-subtract.svg", alt="")
                                        p We’re processing orders manually, and drowning in paperwork
                            .career__after
                                h3.career__after-heading After Quipli
                                ul.career__closed-view
                                    li
                                        span 
                                            img(src="../images/career-yellow-check.svg", alt="")   
                                        p I doubled my business without adding staff. Orders can be processed in half of the time.
                                ul.career__open-view
                                    li 
                                        span 
                                            img(src="../images/career-yellow-check.svg", alt="")  
                                        p I doubled my business without adding staff. Orders can be processed in half of the time.
                                    li 
                                        span 
                                            img(src="../images/career-yellow-check.svg", alt="")  
                                        p I doubled my business without adding staff. Orders can be processed in half of the time.
                li.career__item(data-aos="fade-up" data-aos-delay="300")  
                    button.career__item-wrapper(href="/") 
                        h2.career__title Accounting Manager
                            span
                        .career__difference 
                            .career__before 
                                h3.career__before-heading Before Quipli
                                ul.career__closed-view
                                    li 
                                        span 
                                            img(src="../images/career-subtract.svg", alt="")
                                        p I’m constantly hiring people to keep up with demand
                                ul.career__open-view
                                    li 
                                        span 
                                            img(src="../images/career-subtract.svg", alt="") 
                                        p I’m constantly hiring people to keep up with demand
                                    li
                                        span 
                                            img(src="../images/career-subtract.svg", alt="")
                                        p We’re processing orders manually, and drowning in paperwork
                            .career__after
                                h3.career__after-heading After Quipli
                                ul.career__closed-view
                                    li 
                                        span 
                                            img(src="../images/career-yellow-check.svg", alt="")  
                                        p I doubled my business without adding staff. Orders can be processed in half of the time.
                                ul.career__open-view
                                    li 
                                        span 
                                            img(src="../images/career-yellow-check.svg", alt="")  
                                        p I doubled my business without adding staff. Orders can be processed in half of the time.
                                    li 
                                        span 
                                            img(src="../images/career-yellow-check.svg", alt="")  
                                        p I doubled my business without adding staff. Orders can be processed in half of the time.
                li.career__item(data-aos="fade-up" data-aos-delay="400")  
                    button.career__item-wrapper(href="/") 
                        h2.career__title Service Manager
                            span
                        .career__difference 
                            .career__before 
                                h3.career__before-heading Before Quipli
                                ul.career__closed-view
                                    li 
                                        span 
                                            img(src="../images/career-subtract.svg", alt="")
                                        p I’m constantly hiring people to keep up with demand
                                ul.career__open-view
                                    li 
                                        span 
                                            img(src="../images/career-subtract.svg", alt="") 
                                        p I’m constantly hiring people to keep up with demand
                                    li
                                        span 
                                            img(src="../images/career-subtract.svg", alt="")
                                        p We’re processing orders manually, and drowning in paperwork
                            .career__after
                                h3.career__after-heading After Quipli
                                ul.career__closed-view
                                    li 
                                        span 
                                            img(src="../images/career-yellow-check.svg", alt="")  
                                        p I doubled my business without adding staff. Orders can be processed in half of the time.
                                ul.career__open-view
                                    li 
                                        span 
                                            img(src="../images/career-yellow-check.svg", alt="")  
                                        p I doubled my business without adding staff. Orders can be processed in half of the time.
                                    li 
                                        span 
                                            img(src="../images/career-yellow-check.svg", alt="")  
                                        p I doubled my business without adding staff. Orders can be processed in half of the time.
                li.career__item(data-aos="fade-up" data-aos-delay="500")  
                    button.career__item-wrapper(href="/") 
                        h2.career__title Sales Coordinator
                            span 
                        .career__difference 
                            .career__before 
                                h3.career__before-heading Before Quipli
                                ul.career__closed-view
                                    li 
                                        span 
                                            img(src="../images/career-subtract.svg", alt="")
                                        p I’m constantly hiring people to keep up with demand
                                ul.career__open-view
                                    li
                                        span 
                                            img(src="../images/career-subtract.svg", alt="")  
                                        p I’m constantly hiring people to keep up with demand
                                    li
                                        span 
                                            img(src="../images/career-subtract.svg", alt="")
                                        p We’re processing orders manually, and drowning in paperwork
                            .career__after
                                h3.career__after-heading After Quipli
                                ul.career__closed-view
                                    li 
                                        span 
                                            img(src="../images/career-yellow-check.svg", alt="")  
                                        p I doubled my business without adding staff. Orders can be processed in half of the time.
                                ul.career__open-view
                                    li
                                        span 
                                            img(src="../images/career-yellow-check.svg", alt="")   
                                        p I doubled my business without adding staff. Orders can be processed in half of the time.
                                    li 
                                        span 
                                            img(src="../images/career-yellow-check.svg", alt="")  
                                        p I doubled my business without adding staff. Orders can be processed in half of the time.
                li.career__item(data-aos="fade-up" data-aos-delay="600")  
                    button.career__item-wrapper(href="/") 
                        h2.career__title Your customer, the renter
                            span 
                        .career__difference 
                            .career__before 
                                h3.career__before-heading Before Quipli
                                ul.career__closed-view
                                    li 
                                        span 
                                            img(src="../images/career-subtract.svg", alt="")
                                        p I’m constantly hiring people to keep up with demand
                                ul.career__open-view
                                    li
                                        span 
                                            img(src="../images/career-subtract.svg", alt="")  
                                        p I’m constantly hiring people to keep up with demand
                                    li
                                        span 
                                            img(src="../images/career-subtract.svg", alt="")
                                        p We’re processing orders manually, and drowning in paperwork
                            .career__after
                                h3.career__after-heading After Quipli
                                ul.career__closed-view
                                    li 
                                        span 
                                            img(src="../images/career-yellow-check.svg", alt="")  
                                        p I doubled my business without adding staff. Orders can be processed in half of the time.
                                ul.career__open-view
                                    li 
                                        span 
                                            img(src="../images/career-yellow-check.svg", alt="")  
                                        p I doubled my business without adding staff. Orders can be processed in half of the time.
                                    li 
                                        span 
                                            img(src="../images/career-yellow-check.svg", alt="")  
                                        p I doubled my business without adding staff. Orders can be processed in half of the time.

            