.qpli.cta
    .container 
        .cta__wrapper
            h2.cta__heading(data-aos="fade-up") Give your customers an effortless, 5-star renting experience.
            .cta__steps
                .cta__step.step1(data-aos="slide-up")
                    figure.cta__banner
                        img(src="../images/cta-banner-background.svg", alt="banner background")
                    p.cta__descr 
                        span I.
                        | Answer a few quick questions on your business. It takes 2 minutes, tops.
                .cta__step.step2(data-aos="slide-up") 
                    figure.cta__banner
                        img(src="../images/cta-banner-background.svg", alt="banner background")
                    p.cta__descr 
                        span II.
                        |  Our team will reach out immediately to take you through a demo of Quipli.
                .cta__step.step3(data-aos="slide-up")
                    figure.cta__banner
                        img(src="../images/cta-banner-background.svg", alt="banner background")
                    p.cta__descr 
                        span III.
                        |  Once you’re up and running with Quipli you’ll wonder how you ever managed without it.
            .cta__button(data-aos="fade-right" data-aos-delay="200")
                +button("Talk to Quipli", "#", true, "#FFFFFF")
                