.qpli.solutions 
    .container 
        .solutions__wrapper 
            .solutions__heading(data-aos="fade-down" data-aos-delay="400")
                p Meet 
                img(src="../images/quipli_logo_yellow.svg", alt="quipli logo yellow")
            p.solutions__title(data-aos="fade-down" data-aos-delay="300") Get your life back with the only rental software you’ll ever need
            p.solutions__descr(data-aos="fade-down" data-aos-delay="200") In one clean solution, we tie it all together so you can focus on running and growing your business. From an ecommerce storefront to inventory management, Quipli is your new one-stop shop for rental software.
            ul
                li(data-aos="fade-up" data-aos-duration="4000" data-aos-delay="100" )
                    img(src="../images/solutions-software.svg", alt="solutions software")
                    p Our software is modern and intuitive. It’s easy to implement and easy to use
                li(data-aos="fade-up" data-aos-duration="4000" data-aos-delay="300" )
                    img(src="../images/solutions-customer-support.svg", alt="solutions customer support")
                    p Market-leading 5-minute customer support. We’ll answer fast, solve your problems fast, and leave you smiling. Just read our reviews
                li(data-aos="fade-up" data-aos-duration="4000" data-aos-delay="500" )
                    img(src="../images/solutions-shopping.svg", alt="solutions shopping")
                    p From an eCommerce storefront to inventory management, Quipli is your new one-stop shop for equipment rental software
                li(data-aos="fade-up" data-aos-duration="4000" data-aos-delay="700" )
                    img(src="../images/solutions-cloud.svg", alt="solutions cloud")
                    p It’s cloud-based, lightning fast, and highly secure
            .solutions__cta(data-aos="fade-right" data-aos-delay="300")
                +button("Book a Demo", "#", true, "#1d252c")