.qpli.blog
    .container 
        .blog__wrapper 
            h2(data-aos="slide-up" data-aos-delay="200") Read our latest blogs and articles
            .blog__listing 
                .blog__item.item1(data-aos="slide-left")
                    figure 
                        img(src="../images/blog-image-1.png", alt="wood saw")
                    p Category 
                    p Blog title heading will go here
                    p We offer multiple pricing tiers based on your business needs, paid monthly.
                .blog__item.item2
                    figure 
                        img(src="../images/blog-image-2.png", alt="construction people")
                    p Category 
                    p Blog title heading will go here
                    p We offer multiple pricing tiers based on your business needs, paid monthly.
                .blog__item.item3(data-aos="slide-right")
                    figure 
                        img(src="../images/blog-image-3.png", alt="earth mover")
                    p Category 
                    p Blog title heading will go here
                    p We offer multiple pricing tiers based on your business needs, paid monthly.