.qpli.use-cases 
    .container
        .use-cases__wrapper 
            p.use-cases__title(data-aos="fade-up") Who our rental software is built for
            .use-cases__listing 
                .use-cases__toolset.use-cases__toolset--primary(data-aos="fade-up-right") 
                    .use-cases__equipment
                        .use-cases__equipment-title 
                            img.use-cases__logo(src="../images/light-tool.svg", alt="light tool") 
                            p.use-cases__heading General Tool and Light Equipment
                        p.use-cases__item For rental companies offering everything from hand tools and ladders  to compact machines and attachments.
                        p.use-cases__item Save hours every week, reduce paperwork and mind-numbing admin time. Get your life back, and spend more time adding value to your customers and growing your business.
                    +button("Learn more", "#", true, "#fcda01")
                    figure.aspect-box-light
                        img.use-cases__banner-light(src="../images/light-tool-image.png", alt="light tool image")
                .use-cases__toolset.use-cases__toolset--secondary(data-aos="fade-up-left") 
                    .use-cases__equipment
                        .use-cases__equipment-title 
                            img.use-cases__logo(src="../images/heavy-tool.svg", alt="heavy tool")
                            p.use-cases__heading Heavy Equipment
                        p.use-cases__item Excavators, loaders, aerial lifts, telehandlers, and more – for those serving heavy equipment contractors and large-scale construction projects, Quipli is ideal for you.
                        p.use-cases__item Gone are the days where Service & Repair records and schedules are managed in Excel or outdated software. Quipli’s solution ties it all together in a seamless, cloud-based solution so you can run your business smoothly, even when not in the office.
                    +button("Learn more", "#", true, "#fcda01")
                    figure.aspect-box-heavy
                        img.use-cases__banner-heavy(src="../images/heavy-tool-image.png", alt="heavy tool image")