.qpli.outcomes 
    .container 
        .outcomes__wrapper 
            p.outcomes__title(data-aos="fade-up") Every feature you need, all in a single system.
            .outcomes__trans.tab 
                picture.outcomes__banner(data-aos="fade-down" data-aos-duration="2000")
                    source(media="(min-width: 1199px)", srcset="../images/outcomes-trans-desktop.png")
                    source(media="(min-width: 428px)", srcset="../images/outcomes-trans-mobile.png")
                    img(src="../images/outcomes-trans-mobile.png", alt="outcomes transactions mobile image")
                .outcomes__descr(data-aos="fade-right" data-aos-duration="1000") 
                    .outcomes__logo
                        img(src="../images/outcomes-shoppingbag-logo.svg", alt="outcomes shoppingbag logo")
                    p.outcomes__heading Increase self-serve transactions from 3% to 40%
                    p.outcomes__content United Rentals has done it, and you can too. Quipli is here to help you do the same. With Quipli, your customers can rent what they want, when they want it, with full online renting capabilities embedded into your website.
                    +button("Learn more", "/", true, "#1d252c")
            .outcomes__visibility.tab
                picture.outcomes__banner(data-aos="fade-up" data-aos-duration="2000")
                    source(media="(min-width: 1199px)", srcset="../images/outcomes-visibility-desktop.png")
                    source(media="(min-width: 428px)", srcset="../images/outcomes-visibility-mobile.png")
                    img(src="../images/outcomes-visibility-desktop.png", alt=" outcomes visibility mobile image")
                .outcomes__descr(data-aos="fade-left" data-aos-duration="1000") 
                    .outcomes__logo
                        img(src="../images/outcomes-dashboard-logo.svg", alt="outcomes dashboard logo")
                    p.outcomes__heading Full visibility into your inventory, 24/7
                    p.outcomes__content Peace of mind is knowing where your inventory is, when it’s coming back, and how it’s performing. Eliminate the guesswork, paperwork, and scrambling.
                    +button("Learn more", "/", true, "#1d252c")
            p.outcomes__more(data-aos="fade-right" data-aos-duration="1000") And much more...
            .outcomes__tab(data-aos="zoom-in-down" data-aos-easing="ease-out-cubic") 
                .outcomes__tab-nav-wrapper 
                    ul.outcomes__tab-nav 
                        li
                            a(href="#tab1",data-aos="zoom-in-down", data-aos-delay="200") 
                                p Payments 
                                img.logo(src="../images/outcomes-wallet-logo.svg", alt="wallet logo")
                        li
                            a(href="#tab2",data-aos="zoom-in-down", data-aos-delay="300") 
                                p Point of Sale 
                                img.logo(src="../images/outcomes-tag-logo.svg", alt="tag logo")
                        li
                            a(href="#tab3",data-aos="zoom-in-down", data-aos-delay="400") 
                                p Service & Repair
                                img.logo(src="../images/outcomes-tools-logo.svg", alt="tools logo")
                        li
                            a(href="#tab4",data-aos="zoom-in-down", data-aos-delay="500") 
                                p SEO & Marketing
                                img.logo(src="../images/outcomes-searchengine-logo.svg", alt="search engine logo")
                        li
                            a(href="#tab5",data-aos="zoom-in-down", data-aos-delay="600")  
                                p Reporting
                                img.logo(src="../images/outcomes-presentation-logo.svg", alt="presentation logo")
                .outcomes__tab-content-wrapper 
                    .outcomes__tab-content-listing
                        #tab1.outcomes__tab-content 
                            picture.outcomes__tab-banner(data-aos="fade-left" data-aos-delay="300") 
                                source(media="(min-width: 1199px)", srcset="../images/outcomes-banner-desktop-payments.png")
                                source(media="(min-width: 428px)", srcset="../images/outcomes-banner-mobile-payments.png")
                                img(src="../images/outcomes-banner-mobile-payments.png", alt="outcomes banner payments")
                            .outcomes__tab-subsection(data-aos="fade-left" data-aos-delay="300")  
                                .outcomes__tab-logo 
                                    img(src="../images/outcomes-white-wallet-logo.svg", alt="wallet logo")
                                p.outcomes__heading Automate it all, and save hours every week
                                p.outcomes__descr Manage all rental contract payments via credit card, ACH, check, or rent  on account with cycle billing. Everything syncs with our direct integration with Quickbooks Online to get you back to operating your rental business
                                +button("Learn more", "/", true, "#1d252c")
                        #tab2.outcomes__tab-content 
                            picture.outcomes__tab-banner 
                                source(media="(min-width: 1199px)", srcset="../images/outcomes-banner-desktop-tag.png")
                                source(media="(min-width: 428px)", srcset="../images/outcomes-banner-mobile-tag.png")
                                img(src="../images/outcomes-banner-mobile-tag.png", alt="outcomes banner tag")
                            .outcomes__tab-subsection 
                                .outcomes__tab-logo 
                                    img(src="../images/outcomes-white-tag-logo.svg", alt="")
                                p.outcomes__heading Happy customers check out in 60 seconds, not 15 minutes
                                p.outcomes__descr Fast and seamless in-store rental transactions that tie to Quipli’s backend.
                                +button("Learn more", "/", true, "#1d252c")
                        #tab3.outcomes__tab-content 
                            picture.outcomes__tab-banner 
                                source(media="(min-width: 1199px)", srcset="../images/outcomes-banner-desktop-tools.png")
                                source(media="(min-width: 428px)", srcset="../images/outcomes-banner-mobile-tools.png")
                                img(src="../images/outcomes-banner-mobile-tools.png", alt="outcomes banner tools")
                            .outcomes__tab-subsection 
                                .outcomes__tab-logo 
                                    img(src="../images/outcomes-white-tools-logo.svg", alt="")
                                p.outcomes__heading How many rental days are you missing because of poor repair tracking? 
                                p.outcomes__descr Manage work orders, track maintenance costs, and keep a firm pulse on the status of all your assets. Get them back in the field as fast as possible
                                +button("Learn more", "/", true, "#1d252c")
                        #tab4.outcomes__tab-content 
                            picture.outcomes__tab-banner 
                                source(media="(min-width: 1199px)", srcset="../images/outcomes-banner-desktop-searchengine.png")
                                source(media="(min-width: 428px)", srcset="../images/outcomes-banner-mobile-searchengine.png")
                                img(src="../images/outcomes-banner-mobile-searchengine.png", alt="outcomes banner searchengine")
                            .outcomes__tab-subsection 
                                .outcomes__tab-logo
                                    img(src="../images/outcomes-white-searchengine-logo.svg", alt="") 
                                p.outcomes__heading 67% of renters search or visit your site before renting. We help you stay optimized.
                                p.outcomes__descr The #1 way renters find out about your rental business is through the internet. We’ll help you stay top of mind, and top of page.
                                +button("Learn more", "/", true, "#1d252c")
                        #tab5.outcomes__tab-content 
                            picture.outcomes__tab-banner 
                                source(media="(min-width: 1199px)", srcset="../images/outcomes-banner-desktop-presentation.png")
                                source(media="(min-width: 428px)", srcset="../images/outcomes-banner-mobile-presentation.png")
                                img(src="../images/outcomes-banner-mobile-presentation.png", alt="outcomes banner presentation")
                            .outcomes__tab-subsection 
                                .outcomes__tab-logo
                                    img(src="../images/outcomes-white-presentation-logo.svg", alt="") 
                                p.outcomes__heading Measure your performance. Improve your business.
                                p.outcomes__descr Track revenue, utilization, costs, depreciation, and missed rentals at an asset-level. Real-time financial reporting to make smarter decisions.
                                +button("Learn more", "/", true, "#1d252c")

                    