footer.qpli.footer
  .container
      .footer__wrap
        .footer__main 
          .footer__descr-section(data-aos="fade-up" data-aos-delay="100") 
            .footer__logo
              img(src="../images/quipli_logo_yellow.svg", alt="Quipli logo yellow",data-aos="fade-up" data-aos-delay="200")
            p(data-aos="fade-up" data-aos-delay="300")  Quipli enables rental companies to offer the technology of the industry's largest players, at a fraction of the cost.
          .footer__listing 
            ul.footer__col.footer__col--company(data-aos="fade-up" data-aos-delay="200") Company
              li(data-aos="fade-up" data-aos-delay="300") About Us
              li(data-aos="fade-up" data-aos-delay="400") Careers
              li(data-aos="fade-up" data-aos-delay="500") Affiliate Program
              li(data-aos="fade-up" data-aos-delay="600") Press
              li(data-aos="fade-up" data-aos-delay="700") Customer Review
            ul.footer__col.footer__col--rental(data-aos="fade-up" data-aos-delay="300") Rental Software
              li(data-aos="fade-up" data-aos-delay="400") Demo 
              li(data-aos="fade-up" data-aos-delay="500") Solutions 
            ul.footer__col.footer__col--community(data-aos="fade-up" data-aos-delay="400") Community 
              li(data-aos="fade-up" data-aos-delay="500") Resources
        .footer__rights 
          .footer__rights-firstline 
            p © 2023 Quipli, Inc. All rights reserved
          .footer__rights-secondline
            p Privacy 
            p Terms 
            p Cookies