.qpli.submenu.submenu--solutions
  .container
    .submenu__wrapper 
      ul
        li 
          img.submenu__icon(src="../images/submenu-inventory.svg", alt="inventory icon")
          p Inventory Management
          i 
            +rightarrow
        li 
          img.submenu__icon(src="../images/submenu-timer.svg", alt="timer icon")
          p Booking & Scheduling
          i 
            +rightarrow
        li 
          img.submenu__icon(src="../images/submenu-tag.svg", alt="tag icon")
          p Point of Sale
          i 
            +rightarrow
        li 
          img.submenu__icon(src="../images/submenu-wallet.svg", alt="wallet icon")
          p Invoicing and Payments
          i 
            +rightarrow
        li 
          img.submenu__icon(src="../images/submenu-bag.svg", alt="bag icon")
          p E-commerce 
          i 
            +rightarrow
        li 
          img.submenu__icon(src="../images/submenu-presentation.svg", alt="presentation icon")
          p Rental Asset Reporting
          i 
            +rightarrow
        li 
          img.submenu__icon(src="../images/submenu-tools.svg", alt="tools icon")
          p Service and Repair
          i 
            +rightarrow
        li 
          img.submenu__icon(src="../images/submenu-searchengine.svg", alt="searchengine icon")
          p SEO & Online Marketing
          i 
            +rightarrow
        li 
          img.submenu__icon(src="../images/submenu-cart.svg", alt="cart icon")
          p Checkout Software
          i 
            +rightarrow
      .submenu__tab
        .submenu__tab-icon
            img(src="../images/app-with-eye.svg", alt="")
        h2.submenu__tab-title Product Overview
        p.submenu__tab-descr  From inventory management to cycle billing, invoicing to payments, e-Commerce to service and repair, Quipli has you covered.
        .submenu__tab-more
            a(href="#") Learn more
                +yellowrightarrow